.mainContainer{
    display: flex;
    justify-content: space-around; 
    align-items: center;
    font-family: 'Courier New', Courier, monospace;   
}
button{
    background-color: brown;
    color: rgb(255, 255, 255);
    height: 30px;
    width: 60px;
}
body,p{
    font-family: 'Courier New', Courier, monospace;
    
}

#missile{
    display: flex;
justify-content: center;
padding-top: 80px;
color: red

}
#missile p{
    border: 2px solid silver;
    padding: 15px 30px;
    background-color: green;
    font-weight: 900;
    
}